{% extends "base.html" %} 
{% block title %}Restablecer Contraseña{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Recuperar Contraseña</h2>
                    <p class="text-muted text-center">Ingresa tu dirección de correo electrónico a continuación. Te enviaremos un enlace para que puedas establecer una nueva contraseña.</p>

                    <form method="post">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="{{ form.email.id_for_label }}">Correo Electrónico:</label>
                            {{ form.email }}
                            {% if form.email.errors %}
                                <div class="text-danger mt-1">
                                    {% for error in form.email.errors %}{{ error }}{% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        
                        <button type="submit" class="btn btn-primary btn-block mt-3">Enviar Enlace de Restablecimiento</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
