{% extends "base.html" %}
{% block title %}Correo Enviado{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm text-center">
                <div class="card-body">
                    <h2 class="card-title text-success mb-4">Correo Enviado</h2>
                    <p>Hemos enviado un correo electrónico con instrucciones para restablecer tu contraseña. El mensaje debería llegar en unos minutos.</p>
                    <p>Asegúrate de revisar tu carpeta de *Spam* si no lo ves en tu bandeja de entrada.</p>
                    <a href="{% url 'iniciar_sesion' %}" class="btn btn-primary mt-3">Volver al Inicio de Sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
