{% extends 'local/base.html' %} 
{% load static %}

{% block content %}
<div class="login-container text-center">
    <h2 class="mb-4 text-success">Correo Enviado</h2>
    <p class="info-text">
        Hemos enviado un correo electrónico con instrucciones para cambiar tu contraseña. 
        Si no lo encuentras en unos minutos, revisa tu carpeta de **Spam** o **Correo no deseado**.
    </p>
    <p class="info-link">
        <a href="{% url 'iniciar_sesion' %}">Volver al inicio de sesión</a>
    </p>
</div>
{% endblock %}
